.seguros {
    padding: 0;
}

.highlight {
    color: white;
}

.highlight2 {
    color: var(--color-secondary);
}

.container {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.containerTittle {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.containerMarca {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.hero {
    width: 100%;
    max-width: 1400px;
}