.contacto {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 80px;
}

.contacto> :nth-child(2) {
    margin-top: -20px;
    /* para acercar un poco al banner si quieres */
}

.highlight2 {
    color: var(--color-secondary);
}

.highlight {
    color: white;
}